rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /lists/{listId} {
      // DEV : accès total à tout utilisateur connecté
      allow read, write: if request.auth != null;
    }
    match /cars/{carId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.uid;
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
    match /users/{userId} {
      // Un utilisateur peut créer son propre compte (doc)
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
